body{
  height: 100%; 
  width: 100%; 
  overflow: hidden; 
  margin: 0px; 
  background-color: rgba(249, 225, 236, 100);
}

h1{/* how to make font size bigger?*/
  font-family: 'Shrikhand', cursive;
  font-weight: normal;
  text-indent: 40%; 
}

table, td {
    border: 1px;
    border-color: rgb(82, 86, 89);
    border-collapse: 'true';
    font-family: 'Poppins', sans-serif;
  }

td {
  width: 15%;
  border: 2px solid black;
}